<div class="mx-auto flex min-h-screen w-full items-center justify-center text-white">
 <div class="flex w-[30rem] flex-col space-y-10">
  <h2 class="text-center text-4xl font-medium">新規登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
      <div class="w-full mt-4 transform border-b-2 bg-transparent text-lg duration-300 focus-within:border-indigo-500">
        <%= f.text_field :name, autofocus: true, autocomplete: "name" ,placeholder: "名前", class: "w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none"%>
      </div>

      <div class="w-full mt-4 transform border-b-2 bg-transparent text-lg duration-300 focus-within:border-indigo-500">
        <%= f.text_field :github_name, autofocus: true, autocomplete: "github_name", placeholder: "GitHub ID", class: "w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none" %>
      </div>


      <div class="w-full mt-4 transform border-b-2 bg-transparent text-lg duration-300 focus-within:border-indigo-500">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none" %>
      </div>

      <div class="w-full mt-4 transform border-b-2 bg-transparent text-lg duration-300 focus-within:border-indigo-500">
        <% if @minimum_password_length %>
          <%= f.password_field :password, autocomplete: "new-password" , placeholder: "パスワード (#{@minimum_password_length}文字以上必要)", class: "w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none"%>
        <% end %>
      </div>

      <div class="w-full mt-4 transform border-b-2 bg-transparent text-lg duration-300 focus-within:border-indigo-500">
        <%= f.password_field :password_confirmation, autocomplete: "new-password" , placeholder: "パスワード確認用", class: "w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none"%>
      </div>

      <div>
        <%= f.submit "登録ボタン", class: "w-full mt-8 transform rounded-sm bg-indigo-600 py-2 font-bold duration-300 hover:bg-indigo-400" %>
      </div>
  <% end %>
  <%= link_to "ログインはこちら", new_user_session_path, class: "text-center font-medium text-indigo-500 underline-offset-4 hover:underline" %>
  </div>
</div>
