<div class="mx-auto flex min-h-screen w-full items-center justify-center text-gray-600">
  <div class="flex w-[30rem] flex-col space-y-10">
    <h2 class="text-center text-4xl font-medium">ログイン</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="w-full mt-4 transform border-b-2 bg-transparent text-lg duration-300 focus-within:border-green-500">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none" %>
        </div>

        <div class="w-full mt-4 transform border-b-2 bg-transparent text-lg duration-300 focus-within:border-green-500">
          <%= f.password_field :password, autocomplete: "new-password" , placeholder: "パスワード", class: "w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none"%>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="mt-4 bg-white">
            <%= f.check_box :remember_me ,class: "border-none"%>
            <%= f.label :remember_me, "ログイン状態を保存" %>
          </div>
        <% end %>


        <div>
          <%= f.submit "ログイン", class: "text-white w-full mt-8 transform rounded-sm bg-green-600 py-2 font-bold duration-300 hover:bg-green-400" %>
        </div>
    <% end %>
    <%= link_to "新規登録はこちら", new_user_registration_path, class: "text-center font-medium text-green-500 underline-offset-4 hover:underline" %>
  </div>
</div>
