<!DOCTYPE html>
<html>
  <head>
    <title>GITHUB BATTLE</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SVPGV7GX25"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-SVPGV7GX25');
    </script>
  </head>

  <body>
    <div class="bg-white bg-cover">
      <%= render "shared/header" %>
      <%= yield %>
      <%= render "shared/footer"%>
    </div>
  </body>
</html>
